
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}
a:hover{
    cursor: pointer;
}

.col-md-3.d-flex {
    align-items: center;
    gap: 10px;
}

.col-md-3.d-flex i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.product-amount {
    text-align: center;
    width: 50px;
}
.discount-apply-button {
    font-size: 1.25rem;
    padding: 10px 20px;
    border: 2px solid #ffc107;
    background-color: transparent;
    color: #ffc107;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.discount-apply-button:hover {
    background-color: #ffc107;
    color: #fff;
}

.applied {
    border: 2px solid #198754;
    background-color: #198754;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.applied:hover{
    border: 2px solid #198754 !important;
    color: #fff;

}
